/* #ifndef APP-NVUE */
/* 设置全局样式 */
/* (1) 页面高度100%,默认字体28upx,默认行高1.4,背景颜色 */
page{
	/* height: 100%; */
	font-size: 28rpx;
	line-height: 1.4;
	background: #FFFFFF;
}

button{border: 0;padding: 0;margin: 0;}
button:after{border: 0;}

/* (2) 图片默认100%宽度 */
image{  width: 100%;height: 100%;box-sizing: border-box; display: block;}
::-webkit-scrollbar{
	display: none;
}
uni-button:after{border: 0;}

/* 无数据 */
.nodata{width: 360rpx;height: 360rpx;margin:100rpx auto;}
.nodata image{width: 100%;height: 100%;}

/* 右侧固定按钮 */
.R-fixIcon{width: 90rpx;height: 90rpx;position: fixed;bottom:40%;right:20rpx;z-index:30;}
.R-fixIcon image{width: 100%;height: 100%;}

/* 购物车按钮显示数量 */
.carNum{position: absolute;left: 75%;top: -12rpx;z-index: 2;height: 30rpx;line-height: 30rpx;min-width: 30rpx;border-radius: 20rpx;box-sizing: border-box;font-size: 22rpx; color:#fff;padding: 0 6rpx;background-color: #ed0000; text-align: center;}

/* #endif */
/* 主色调 */
/* 主背景颜色（橙色）*/
.main-bg-color{ background-color: #ffb2c2; }
/* 主点击背景颜色（淡橙色）*/
.main-bg-hover-color{ background-color: rgba(253,104,1,0.85); }
/* 主字体颜色（橙色）*/
.main-text-color{color: #ffb2c2;}
/* 主边框颜色 */
.main-border-color{ border-color: #F1F1F1; }

.input-border-color{
	border-color: #ffb2c2;
}


.colorM{color:#E80F0F;}
.colorB{color: #3395FD;}


.f5Bj-H10{height: 10rpx; background: #f5f5f5;}
.f5Bj-H20{ height: 20rpx; background: #f5f5f5;}
.f5bj{background: #f5f5f5;}
.whiteBj{background: #fff;}

.price{ color: #f51e1e;}
.price::before{content: "￥";}
.priceIcon{width: 28rpx;height: 28rpx;margin-right: 8rpx;}
.priceF{ color: #f51e1e;}
.priceF::before{content: "积分:";font-size: 24rpx;}
.priceM::after{content: "/㎡";}
.yuanJia{ color: #999; font-size: 24rpx; text-decoration: line-through; }
.yuanJia::before{content: "￥";}


/* 按钮 */
.submit{width: 100%;height: 80rpx;background-color: #3395FD;color: #fff;border-radius: 40rpx;text-align: center;line-height: 80rpx;box-shadow: 0 4rpx 8rpx 0 rgba(24,88,155,0.3 );}


/* 顶部返回箭头按钮 */
.backBtn{width:18rpx;height: 31rpx;position: absolute;top: 70rpx;left: 30rpx; z-index: 5;}




/* 底部导航 */
.footer{height: 100rpx;width:100%;border-top: 1px solid #e1e1e1;position: fixed;bottom: 0;display: flex;justify-content: space-between;background-color: #fff;}
.footer .item{width: 20%;display: flex;flex-direction: column;align-items: center;color: #999;font-size: 24rpx;justify-content: center;}
.footer .on{color: #3395FD;}
.footer .item image{margin-bottom: 10rpx;}
.footer .item:nth-child(1) image{width: 45rpx;height: 43rpx;}
.footer .item:nth-child(2) image{width: 35rpx;height: 41rpx;}
.footer .item:nth-child(3) image{width: 44rpx;height: 45rpx;}
.footer .item:nth-child(4) image{width: 43rpx;height: 43rpx;}



/* 标签 */
/* 课程标签 */
.sign{border: 1px solid #fed51b;border-radius: 14rpx;width: 60rpx;height: 28rpx;color: #FED51B;font-size: 20rpx;text-align: center;line-height: 24.5rpx;}
/* 复制标签 */
.sign1{width: 60rpx;height: 30rpx;text-align: center;background-color: #ffa6b4;font-size: 20rpx;line-height: 30rpx;border-radius: 15rpx;color:#fff;}
.sign4{width: 60rpx;height: 30rpx;text-align: center;background-color: #a6a6a6;font-size: 20rpx;line-height: 30rpx;border-radius: 15rpx;color:#fff;}
/* 导师标签 */
.sign2{width: 60rpx;height: 30rpx;text-align: center;background-color: #FED513;font-size: 20rpx;line-height: 30rpx;border-radius: 15rpx;color:#fff;}
/* 主播标签 */
.sign3{width: 60rpx;height: 30rpx;text-align: center;background-color: #ffa6b3;font-size: 20rpx;line-height: 30rpx;border-radius: 15rpx;color:#fff;}